* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
body {
    font-size: 1.5vh;
    background-color: black;
}
#top-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 4.0vh;
    padding: 1vh 2vh;
}
#lives {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}
#game-screen, #start-screen{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 20px;
    padding: 10px;
}
#start-screen{
    flex-direction: column;
}
#menu-btn{
    cursor: pointer;
}
.menu-button{
    width: 40vw;
    min-width: 225px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 3.8em;
    cursor: pointer;
}
.card {
    aspect-ratio: 1 / 1.2;
    border-radius: 2.5vh;
    background-color: white;
    text-align: center;
    font-size: 4.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}
.card::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
.set{
    cursor: not-allowed;
    color: gray;
}