* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
body {
    font-size: 10px;
    background-color: black;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: 2.6em;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
}
#flex-container{
    margin: 6% 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    height: 200px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    text-align: center;
    font-size: 4.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
}
.set{
    cursor: not-allowed;
    color: gray;
}